<div id="admin_comment_type_form_fields" data-hook>
  <div class="form-group">
    <%= f.label :name, Spree.t(:name) %><br />
    <%= f.text_field :name, class: 'form-control title' %>
    <%= error_message_on :comment_type, :name %>
  </div>

  <div class="form-group">
    <%= f.label :applies_to, Spree.t(:applies_to) %><br />
    <%= f.select :applies_to, options_for_select([%w[Order Spree::Order]]), {}, class: 'form-control' %>
  </div>
</div>

